*/__pycache__/
*/examples/
examples/
__pychache__/
misc/
experiments/
model_checkpoints/
data/*sample*
data/movies
data/clips
data/dataset_csvs
data/framed_clips
examples*
*.json
*.txt
*experiments*
.logs*
dcgm/
